.container {
  /* Remove margin */
  margin-left: 100px;

  background-color: #3c3c3c;
  max-width: 450px;
  color: white;
  border-radius: 15px;
  display: flex;
}

.image img {
  border-radius: 15px;
  height: 100%;
  overflow: hidden;
}

.container div {
  width: 225px;
  padding: 0 10px 10px 10px;
}

.info h1 {
  font-size: 2.5rem;
  margin: 0;
}
