.container {
  background-color: #3c3c3c;
  color: white;
  border-radius: 15px;
  text-align: center;
}

/* .image img {
  border-radius: 15px;
  height: 100%;
  overflow: hidden;
} */

.container div {
  padding: 0 10px 10px 10px;
}

.info h1 {
  font-size: 2.5rem;
  margin: 0;
}

.info button {
  background-color: #f25d2a;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
